<div class="container">
  <div class="content first-content">
    <div class="first-column">
      <h2 class="title title-primary">Login</h2>
      <mat-form-field appearance="fill" class="mat-form-simples">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="clienteLogin.email" placeholder="Email" required>
      </mat-form-field>
      <mat-form-field appearance="fill" class="mat-form-simples">
        <mat-label>Senha</mat-label>
        <input type="password" matInput [(ngModel)]="clienteLogin.senha" required >
      </mat-form-field>
      <p><a class="password" href="#">Esqueceu a senha?</a></p>
      <button id="signin" class="btn btn-primary" (click)="fazerlogin()">Entrar</button>
    </div>
    <div class="second-column">
      <h2 class="title title-second">Criar Conta</h2>
      <mat-form-field appearance="fill" class="mat-form-simples">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="cliente.nome" placeholder="nome" required>
      </mat-form-field>
      <mat-form-field appearance="fill" class="mat-form-simples">
        <mat-label>CPF</mat-label>
        <input matInput [(ngModel)]="cliente.cpf" placeholder="CPF" required>
        <td mat-cell *matCellDef="let cliente">{{cliente.cpf | cpf}}</td>

      </mat-form-field>
      <mat-form-field appearance="fill" class="mat-form-simples">
        <mat-label>Telefone</mat-label>
        <input matInput [(ngModel)]="cliente.telefone" placeholder="Telefone" required>
      </mat-form-field>
      <mat-form-field appearance="fill" class="mat-form-simples">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="cliente.email" placeholder="Email" required>
      </mat-form-field>
      <mat-form-field appearance="fill" class="mat-form-simples">
        <mat-label>Senha</mat-label>
        <input type="password" matInput [(ngModel)]="cliente.senha"  placeholder="Senha de no minimo 8 digitos" minlength="8" required>
      </mat-form-field>
      <button class="btn btn-second" (click)="inserirCliente()" *ngIf="operacaoCadastro">Cadastrar</button>

      <button class="btn btn-second" (click)="inserirCliente()" *ngIf="!operacaoCadastro">Editar</button>
    </div><!-- second column -->
  </div><!-- first content -->
</div>


