<div class="container">
  <div class="content first-content">
    <div class="first-column">
      <h2 class="title title-primary">Login</h2>
      <mat-form-field appearance="fill" class="mat-form-simples">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="empresaLogin.email" required>
      </mat-form-field>
      <mat-form-field appearance="fill" class="mat-form-simples">
        <mat-label>Senha</mat-label>
        <input type="password" matInput [(ngModel)]="empresaLogin.senha" required>
      </mat-form-field>
      <p><a class="password" href="#">Esqueceu a senha?</a></p>
      <button id="signin" class="btn btn-primary" (click)="fazerloginEmpresa()">Entrar</button>
    </div>
    <div class="second-column">
      <h2 class="title title-second">Criar Conta</h2>
      <mat-form-field appearance="fill" class="mat-form-simples">
        <mat-label>Empresa</mat-label>
        <input matInput [(ngModel)]="empresa.nome" required>
      </mat-form-field>
      <mat-form-field appearance="fill" class="mat-form-simples">
        <mat-label>CNPJ</mat-label>
        <input matInput [(ngModel)]="empresa.cnpj" required>
      </mat-form-field>
      <mat-form-field appearance="fill" class="mat-form-simples">
        <mat-label>Telefone</mat-label>
        <input matInput [(ngModel)]="empresa.telefone" placeholder="Telefone" required>
      </mat-form-field>
      <mat-form-field appearance="fill" class="mat-form-simples">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="empresa.email" placeholder="Email" required>
      </mat-form-field>
      <mat-form-field appearance="fill" class="mat-form-simples">
        <mat-label>Senha</mat-label>
        <input type="password" matInput [(ngModel)]="empresa.senha" placeholder="Senha" minlength="8" required>
      </mat-form-field>
      <button class="btn btn-second" (click)="inserirEmpresa()">Cadastrar</button>
    </div><!-- second column -->
  </div><!-- first content -->
</div>
